# Prime Number

In [19]:
#Prime Number
num = int(input('Enter Number : '))
for i in range(2,num):
    if num%i == 0:
        print("It's not a Prime Number")
        break
else:
    print("It's a Prime Number")

Enter Number : 2008
It's not a Prime Number

# Lead Year

In [10]:
#Lead Year
year = int(input('Enter Number : '))
if year%400 == 0:
    print(f'{year} is a leap year!')
elif year%100 != 0 and year%4==0:
    print(f'{year} is a leap year!')
else:
    print(f'{year} is not a leap year!')

Enter Number : 2021
2021 is not a leap year!

# Fibonacci Series

In [17]:
def fib(num):
    a = 0
    b = 1
    print(a)
    print(b)
    for i in range(2, num):
        c = a + b
        a = b
        b = c
        print(c)
        
        

num = int(input('Enter Number : '))
fib(num)

Enter Number : 10
0
1
1
2
3
5
8
13
21
34

# Factorial Number

In [18]:
#Factorial
def fact(num):
    result = 1
    for i in range(1, num+1):
        result *= i
    print(result)
    
    
num = int(input('Enter Number : '))
fact(num)

Enter Number : 5
120

# Print Prime Number Between 100 to 200

In [35]:
min_r = 100
max_r = 200
for num in range(min_r, max_r):
    if all(num%j!= 0  for j in range(2, num)):
        print(num)

101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [37]:
min_r = 100
max_r = 200
for num in range(min_r, max_r):
    for j in range(2, num):
        if num%j == 0:
            break
    else:
        print(num)

101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

# Sort elements in the list using Sort Function

In [39]:
li = [10,45,178,12,1,56,23,48,59,3,6]
li.sort()
print(li)

[1, 3, 6, 10, 12, 23, 45, 48, 56, 59, 178]

# Sort elements in the list without using Sort Function

In [42]:
li = [10,45,178,12,1,56,23,48,59,3,6]
new_li = []
while len(li)>0:
    min_n = min(li)
    new_li.append(min_n)
    li.remove(min_n)
    
print(new_li)

[1, 3, 6, 10, 12, 23, 45, 48, 56, 59, 178]

In [43]:
#Without Min and Max
li = [10,45,178,12,1,56,23,48,59,3,6]
for i in range(len(li)):
    for j in range(i + 1, len(li)):

        if li[i] > li[j]:
           li[i], li[j] = li[j], li[i]
print(li)

[1, 3, 6, 10, 12, 23, 45, 48, 56, 59, 178]

# Print List in Reverse

In [47]:
li = [10,45,178,12,1,56,23,48,59,3,6]
li.reverse()
print(li)

[6, 3, 59, 48, 23, 56, 1, 12, 178, 45, 10]

In [48]:
li = [10,45,178,12,1,56,23,48,59,3,6]
print(li[::-1])

[6, 3, 59, 48, 23, 56, 1, 12, 178, 45, 10]

# Panildrome String

In [56]:
st = input('Enter Any String - ').lower()
rev = st[::-1]
if st == rev:
    print("It's a Panildrome String")
else:
     print("It's not a Panildrome String")

Enter Any String - Madam
It's a Panildrome String

# Find the duplicates values in the list

In [77]:
li = [10,12,48,12,48,56,12,48,59,3,10]
dup = []
for i in li:
    if li.count(i) > 1:
        dup.append(i)
print(set(dup))

{48, 10, 12}

# Print number of words in a given string

In [87]:
st = 'Hi I am utkarsh'
print(len(st.split()))

4

# Search a given element X in arr[]

In [98]:
li = [0, 1, 82, 73, 4, 55, 6, 78, 8, 29]
def search(li, num):
    if num in li:
        print(f'{num} Present in list at index location {li.index(num)}')
    else:
        print(f'{num} Not Present in list')
    
num = int(input('Num : '))
search(li, num)

Num : 78
78 Present in list at index location 7

# Search a most occcuring element in the list

In [104]:
li = [0, 1, 82, 78, 4, 55, 6, 78, 78, 29]
print(max(set(li), key=li.count))

78

In [113]:
from collections import Counter
li = [0, 1, 82, 78, 4, 55, 6, 78, 78, 29]
occurence_count = Counter(li)
print(occurence_count.most_common()[0][0])

78

# Join Two String

In [114]:
s1 = 'Hi!'
s2 = 'Swati'
print(s1 + " " + s2)

Hi! Swati

In [120]:
print(" ".join((s1, s2)))

Hi! Swati

# Extract Digits from the given string

In [122]:
st = 'Aaj me 9 bje party krne jauga apne 5 frnds ke satth mazzo9 me'
li = []
for i in st:
    if i.isdigit():
        li.append(int(i))
print(li)

[9, 5, 9]

# Split string using newline delimiter

In [124]:
st = 'Aaj me 9 bje party krne jauga apne 5 frnds ke satth mazzo9 me'
print(st.split(' '))

['Aaj', 'me', '9', 'bje', 'party', 'krne', 'jauga', 'apne', '5', 'frnds', 'ke', 'satth', 'mazzo9', 'me']

# Delete recurring character and return new str

In [136]:
st = 'wwwwooorrrlllld'
print("".join(set([i for i in st])))

drwol

# Armstrong Number

In [144]:
num = int(input('Number :' ))
p = len(str(num))
res = 0
for i in str(num):
    res += int(i)**p
    if res == num :
        print("Congrates! .. It's a Armstrong Number")
        break
else:
    print("Oops! It's Not a Armstrong Number")

Number :4875
Oops! It's Not a Armstrong Number

# Patterns

In [147]:
n = 5
for i in range(n):
    print('* '*5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [1]:
from itertools import *

io = input()
for i,j in groupby(map(int,list(io))):
    print(tuple([len(list(j)), i]), end=" ")

154
(1, 1) (1, 5) (1, 4)

# HCF(Highest Common Fector) or GCD

In [9]:
n1 = int(input('Number 1 : '))
n2 = int(input('Number 2 : '))
min_n = min(n1, n2)
hcf = 0
for i in range(2, min_n+1):
    if n1%i == 0 and n2%i == 0:
        hcf = i
print(hcf)

Number 1 : 24
Number 2 : 30
6

# LCM(Lowest Common Fector)

In [13]:
n1 = int(input('Number 1 : '))
n2 = int(input('Number 2 : '))
max_n = max(n1, n2)
while True:
    max_n += 1
    if max_n%n1 == 0 and max_n%n2 == 0:
        print(max_n)
        break

Number 1 : 36
Number 2 : 27
108